body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
 }
 .top-webstudio-discription-one,
 .top-webstudio-discription-two,
 .top-webstudio-discription {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	width: 145px;
	height: 31px;
	left: 215px;
	top: 24px;
 }
 
 .top-webstudio-discription-one {
	color: #2196f3;
 }
 
 .top-webstudio-discription-two {
	 color: black;
 }
 
 .first-discription {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
 }
 
 .frist-discriptions-inside-one:hover {
	color: red;
 }
 
 .frist-discriptions-inside-one:active {
	color: aqua;
 }
 
 .selection {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 26px;
 letter-spacing: 0.03em;
 color: black;
 }
 
 figcaption {
	 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 30px;
 /* identical to box height, or 188% */
 
 letter-spacing: 0.03em;
 
 color: #757575;
 
 }
 
 footer {
	width: 1600px;
	background: #2f303a;
 }
 
 .footer-address {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.6);
 }
 
 .down-webstudio-discription,
 .down-webstudio-discription-one {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
 }
 
 .down-webstudio-discription {
	color: #2196f3;
 }
 
 .down-webstudio-discription-one {
	color: #ffffff;
 }
 