body {
  font-family: 'Roboto';
  color: var(--color-white);
}

:root {
  --color-blue: #2196f3;
  --color-grey: #757575;
  --color-white: #ffffff;
  --bg-color: #2f303a;
}

.social-links {
  text-decoration: none;
}

.top-webstudio-discriptions-one,
.top-webstudio-discriptions {
  color: var(--color-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.top-webstudio-discriptions-one {
  color: #000000;
}

.nav-discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}

.contacts-discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-decoration: none;
}

.contacts-discription:hover,
.footer-address:hover,
.nav-discription:hover {
  color: var(--color-blue);
}

.main-discription {
  background-color: var(--bg-color);
  width: 1600px;
}

.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  padding: 200px 452px 280px;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.inf-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}

.selection {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 350px 700px 200px 700px;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-blue);
}

.selection-for-portfolio {
  cursor: pointer;
  background: var(--color-white);
}

.selection-for-portfolio:focus,
.selection-for-portfolio:active,
.selection-for-portfolio:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.selection:focus,
.selection:hover {
  color: var(--color-white);
}

.header-discription {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.secondary-discription {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.photos-position {
  display: flex;
  flex-flow: row wrap;
}

.photos-discription {
  width: 370px;
  height: 294px;
}

.photo-text-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.photos-block-two {
  width: 270px;
  height: 260px;
}

.figcaption-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-grey);
}

.name-discription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.footer-discription {
  width: 1600px;
  background: var(--bg-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.down-webstudio-discription,
.down-webstudio-discription-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.down-webstudio-discription {
  color: var(--color-blue);
}

.down-webstudio-discription-one {
  color: var(--color-white);
}
