body {
  font-family: 'Roboto', sans-serif;
}

.social-links {
  text-decoration: none;
}

.top-webstudio-discriptions-one,
.top-webstudio-discriptions {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio-photo-position {
  display: flex;
  flex-flow: row wrap;
}

.top-webstudio-discriptions-one {
  color: #000000;
}

.nav-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
}

.contacts-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.footer-address:hover,
.nav-discription:hover {
  color: #2196f3;
}

.main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-text-position-studio {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  position: relative;
}

.inf-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.selection {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  cursor: pointer;
  background-color: #2196f3;
}

.selection-for-portfolio {
  cursor: pointer;
  background: #f5f4fa;
}

.selection-for-portfolio:focus,
.selection-for-portfolio:active,
.selection-for-portfolio:hover {
  color: white;
  background-color: #2196f3;
}

.selection:focus,
.selection:hover {
  color: white;
}

.main-discription {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.header-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.secondary-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.photo-discription {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}

.photo-block-one {
  width: 370px;
  height: 294px;
}

.photo-text-style {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.photo-block-two {
  width: 270px;
  height: 260px;
}

.figcaption-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.name-discriptions {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.position {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}
.footer-discription {
  font-family: 'Roboto', sans-serif;
  width: 1600px;
  background: #2f303a;
}

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.down-webstudio-discription,
.down-webstudio-discription-one {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.down-webstudio-discription {
  color: #2196f3;
}

.down-webstudio-discription-one {
  color: #ffffff;
}
