body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.top-webstudio-discriptions-one,
.top-webstudio-discriptions {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.top-webstudio-discriptions-one {
  color: #000000;
}


.nav-discriptions {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts-discripnions {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-discriptions:hover,
.contacts-discripnions:focus,
.contacts-discripnions:hover {
  color: crimson;
}

.selection {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: black;
  cursor: pointer;
}

.selection:focus,
.selection:hover {
  color: white;
  background-color: #2196f3;
}

.photo-discription {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 262px;
}

.photo-text-style {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}

.figcaption-discription {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: #757575;
}

.footer-discription {
  font-family: 'Roboto', sans-serif;
  width: 1600px;
  height: 252px;
  background: #2f303a;
}

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.down-webstudio-discription,
.down-webstudio-discription-one {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.down-webstudio-discription {
  color: #2196f3;
}

.down-webstudio-discription-one {
  color: #ffffff;
}
